:root {
  color-scheme: light dark;

  /* Dark mode colors */
  color: #18cbaa;
  background-color: #3cc7bd;

  --accent-color: #4dd0e1;
  --button-bg: #065a56;
  --button-hover-bg: #078f8b;
}

body {
  background-color: var(--background-color, inherit);
  color: var(--text-color, inherit);
}

a {
  color: var(--accent-color);
}
a:hover,
a:focus-visible {
  color: #82f0ef;
}

button {
  background-color: var(--button-bg);
  color: #e0f7f5;
  border-color: transparent;
}
button:hover,
button:focus-visible {
  background-color: var(--button-hover-bg);
  border-color: var(--accent-color);
}

.card {
  background-color: #074e4a;
  box-shadow: 0 4px 12px rgba(0, 90, 85, 0.5);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Light mode colors */
    color: #014d46;
    background-color: #d0f0f2;

    --accent-color: #00796b;
    --button-bg: #b2dfdb;
    --button-hover-bg: #80cbc4;
  }

  body {
    background-color: #d0f0f2;
    color: #014d46;
  }

  a {
    color: var(--accent-color);
  }
  a:hover,
  a:focus-visible {
    color: #004d40;
  }

  button {
    background-color: var(--button-bg);
    color: #004d40;
  }
  button:hover,
  button:focus-visible {
    background-color: var(--button-hover-bg);
    border-color: var(--accent-color);
  }

  .card {
    background-color: #b2dfdb;
    box-shadow: 0 4px 12px rgba(0, 121, 107, 0.3);
  }
}
